@font-face {
    font-family: nian-r;
    src: url(../fonts/Nian-Regular.ttf);
}

@font-face {
    font-family: nian-b;
    src: url(../fonts/Nian-Bold.ttf);
}

@font-face {
    font-family: nian-bx;
    src: url(../fonts/Nian-Black.ttf);
}